<section id="login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p class="text-center"><%= image_tag "kldx.png", width: 350 %></p>
        <div class="form-box">
          <div class="page-header">
            <h2 class="text-center">Log In</h2>
            <hr>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :login, "Callsign/Email Address" %><br />
                <%= f.text_field :login, class: "form-control input-lg", autofocus: true, placeholder: "Callsign/Email Address" %>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control input-lg", autocomplete: "off", placeholder: "Password" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <div class="checkbox">
                    <label><%= f.check_box :remember_me %> Remember me for 2 weeks</label>
                  </div>
                </div>
              <% end -%>

              <div class="form-group">
                <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
              </div>
            <% end %>
            <div class="text-center">
              Forgot your password? <%= link_to "Request new here", new_user_password_path %>
            </div>
          </div>
          <p class="text-center">Don't have an account? <%= link_to "Register", register_path %> now!</p>
          <p class="text-center"><%= link_to "Back to homepage", root_path, class: "btn btn-link btn-xs" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
