<tr>
  <td><%= article_counter + 1 %></td>
  <td>
    <%= link_to article.title, "" %>
    <p>
      <% article.tag_list.each do |tag| %>
        <span class="label label-primary"><%= "#" + tag %></span>
      <% end %>
    </p>
  </td>
  <td><%= article.created_at.strftime("%d %B %Y") %></td>
  <td><%= article.user.callsign.upcase %></td>
  <td>
    <div class="btn-group btn-group-justified btn-group-xs">
      <%= link_to edit_admin_article_url(article), class: "btn btn-default", "data-toggle" => "tooltip", "data-placement" => "top", title: "Click to edit" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to admin_article_url(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", "data-toggle" => "tooltip", "data-placement" => "top", title: "Click to delete" do %>
        <i class="fa fa-times-circle"></i>
      <%end%>
    </div>
  </td>
</tr>
