<% content_for :title do %>
  KLDX | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<div class="top-sections">
  <h1>Kuala Lumpur DX Team</h1>
</div>

<div class="container">

  <hr>

  <section id="listing">

    <% @articles.each_slice(3) do |group| %>
    <div class="row">
      <% group.each do |article| %>
      <div class="col-md-4">
        <div class="article article-list">
          <%= link_to article_show_path(article), class: "article-no-hover", data: { turbolinks: disable_turbolink } do %>
            <div class="gradientl"></div>
            <% if article.try(:default_image?) %>
              <%= image_tag(article.default_image_url(:low_res), class: "img-responsive") %>
            <% else %>
              <%= image_tag('article_default_image_low_res.png', class: "img-responsive") %>
            <% end %>
            <div class="mini-desc">
              <div class="article-title">
                <%= article.title %>
              </div>
              <div class="article-date">
                <i class="fa fa-clock-o"></i> <%= time_ago_in_words(article.created_at) %> ago <i class="fa fa-user"></i> <%= article.user.callsign.upcase %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

  </section>

  <div class="middle">
    <%= will_paginate @articles %>
  </div>

</div>
