<% content_for :title do %>
  KLDX | <%= @article.title %>
<% end %>
<% content_for :keyword do %>
  <%= @article.tag_list %>
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "article",
               :title => "KLDX | #{@article.title}",
               :url => request.url,
               :description => "#{truncate(strip_tags(@article.description), length: 100)}",
               :canonical => request.url,
               :og_title => "KLDX | #{@article.title}",
               :og_description => "#{truncate(strip_tags(@article.description), length: 100)}",
               :og_image => "#{@article.default_image_url(:high_res)}",
               :article_author => "https://www.facebook.com/kldxteam"
            } %>
<% end %>

<style media="screen">
  #banner-article {
    padding: 8em 0 6em 0;
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: url("/assets/overlay.png"), url("<%= @article.default_image_url(:high_res) %>");
    background-size: cover;
    text-align: center;
  }
</style>

<section id="banner-article">
  <h2><%= @article.title %></h2>
  <p><%= truncate(strip_tags(@article.description), length: 100) %></p>
</section>


<section id="one" class="wrapper style1">
  <div class="inner">
    <article class="feature">
      <div class="content" style="width: 100%;">
        <p class="creator">
          <i class="fa fa-user"></i> Created by <%= image_tag avatar2_url(@article.user), height: 30, alt: "avatar", class: "image-avatar" %> <%= @article.user.callsign.upcase %>
          <i class="fa fa-calendar"></i> <%= @article.created_at.strftime("%d %B %Y") %>
          <p class="main-hashtag">
            <span class="list-hashtag"><%= render @article.tags %></span>
          </p>
        </p>
        <p><%= @article.description.html_safe %></p>
      </div>
    </article>

  </div>
</section>
