<% content_for :title do %>
  KLDX | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<%= render 'banner' %>

<section id="one" class="wrapper style1">
  <div class="inner">
    <% @articles.each do |article| %>
      <article class="feature left">
        <span class=image>
          <% if article.try(:default_image?) %>
            <%= image_tag(article.default_image_url(:thumbnail)) %>
          <% else %>
            <%= image_tag('article_default_image_low_res.png') %>
          <% end %>
        </span>
        <div class="content">
          <h2><%= article.title %></h2>
          <p><%= truncate(strip_tags(article.description), length: 200) %></p>
          <ul class="actions">
            <li>
              <%= link_to "More", article_show_path(article), class: "button alt" %>
            </li>
          </ul>
        </div>
      </article>
    <% end %>
  </div>
  <ul class="actions" style="text-align:center;">
    <li>
      <%= will_paginate @articles %>
    </li>
  </ul>
</section>
