<% content_for :title do %>
  KLDX Crew | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX Crew | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX Crew | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<%= render 'banner' %>

<section id="crew" class="wrapper special">
  <div class="inner">
    <header class="major narrow">
      <h2>KLDX Crew Member</h2>
      <p>For now we already have about 15 official crew members</p>
    </header>
    <div class="image-grid">
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2agc.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2AGC</p>
          <p>OP: Azlan Aziz</p>
          <p>QTH: Klang, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2agc", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2ais.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2AIS</p>
          <p>OP: Faiz Shaari</p>
          <p>QTH: Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2ais", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2ooo.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2OOO</p>
          <p>OP: Khairul Afendy</p>
          <p>QTH: Cheras, Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2ooo", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2aur.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2AUR</p>
          <p>OP: Muhammad Aimil</p>
          <p>QTH: Sri Kembangan, Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2aur", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2vdx.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2VDX</p>
          <p>OP: Ahmad Ridzuan</p>
          <p>QTH: Cheras, Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2vdx", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2rol.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2ROL</p>
          <p>OP: Amirol Ahmad</p>
          <p>QTH: Puncak Alam, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2rol", target: "_blank" %></p>
        </div>
      </div>
      <!-- second line -->
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2jep.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2JEP</p>
          <p>OP: Jefri Nordin</p>
          <p>QTH: Setapak, Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2jep", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2zdx.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2ZDX</p>
          <p>OP: Zakir Hassan</p>
          <p>QTH: Seremban, N9</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2zdx", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2odx.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2ODX</p>
          <p>OP: Mad Badruddin</p>
          <p>QTH: Jitra, Kedah</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2odx", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2eme.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2EME</p>
          <p>OP: Hasya</p>
          <p>QTH: Sri Kembangan, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2eme", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2fdo.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2FDO</p>
          <p>OP: Fazli Idwan</p>
          <p>QTH: Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2fdo", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9m2edu.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9M2EDU</p>
          <p>OP: Mohd Ikmal</p>
          <p>QTH: Setapak, Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9m2edu", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9w2ynd.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9W2YND</p>
          <p>OP: Syahidan Shark</p>
          <p>QTH: Kuala Lumpur</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9w2ynd", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9w2bfz.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9W2BFZ</p>
          <p>OP: Mohammad Faiz</p>
          <p>QTH: Shah Alam, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9w2bfz", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9w2xnc.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9W2XNC</p>
          <p>OP: Abdul Hakim</p>
          <p>QTH: Batu Caves, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9w2xnc", target: "_blank" %></p>
        </div>
      </div>
      <div class="frame">
        <div class="default-picture">
          <%= image_tag "crew/9w2nmx.png", class: "img-circle" %>
        </div>
        <div class="details">
          <p>Callsign: 9W2NMX</p>
          <p>OP: Zambri X</p>
          <p>QTH: Seri Kembangan, Selangor</p>
          <p>QRZ: <%= link_to "QRZ.com", "https://qrz.com/db/9w2nmx", target: "_blank" %></p>
        </div>
      </div>
    </div>
    <ul class="actions">
      More to come
    </ul>
  </div>
</section>
