<% content_for :title do %>
  KLDX | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<section id="one" class="wrapper style1">
  <div class="inner">
    <article class="feature left">
      <span class="image">
        <%= image_tag "lata-berembun.jpg" %>
      </span>
      <div class="content">
        <h2>9M2R/P at Lata Berembun, Raub, Pahang from 16th - 18th September 2016</h2>
        <p>In order to enforce an amateur radio activities, Kuala Lumpur DX Team crew will be set up a portable station at Lata Berembun, Raub, Pahang (+-608m ASL) from...</p>
        <ul class="actions">
          <li>
            <a href="#" class="button alt">More</a>
          </li>
        </ul>
      </div>
    </article>
    <article class="feature right">
      <span class="image">
        <%= image_tag "merdeka.jpg" %>
      </span>
      <div class="content">
        <h2>KLDX running Malaysian Independence Day with 9M59MY callsign</h2>
        <p>In Conjunction With Malaysian 59th Independence Day Celebration, Special Event Callsign for Kuala Lumpur Station running at RKAT, Desa Setia Wira, Jalan Padang Tembak...</p>
        <ul class="actions">
          <li>
            <a href="#" class="button alt">More</a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper special">
  <div class="inner">
    <header class="major narrow">
      <h2>Merchandise For You</h2>
      <p>To support our plan and next activities, why not get our merchandise for your collection</p>
    </header>
    <div class="image-grid">
      <a href="#" class="image"><%= image_tag "keyer.jpg" %></a>
      <a href="#" class="image"><%= image_tag "cs-cap.jpg" %></a>
      <a href="#" class="image"><%= image_tag "tshirt.jpg" %></a>
      <a href="#" class="image"><%= image_tag "oscillator.jpg" %></a>
      <a href="#" class="image"><%= image_tag "sticker.jpg" %></a>
      <a href="#" class="image"><%= image_tag "tuner.jpg" %></a>
      <a href="#" class="image"><%= image_tag "keychain.jpg" %></a>
      <a href="#" class="image"><%= image_tag "emblem.jpg" %></a>
    </div>
    <ul class="actions">
      <li><a href="#" class="button big alt">View All</a></li>
    </ul>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major narrow	">
      <h2>Checkout our activities/calendar</h2>
      <p>We always prepared for what we plan</p>
    </header>
    <ul class="actions">
      <li><a href="#" class="button big alt">View List</a></li>
    </ul>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style2 special">
  <div class="inner">
    <header class="major narrow">
      <h2>Get in touch</h2>
      <p>Do you have anything to say to us?</p>
    </header>
    <form action="#" method="POST">
      <div class="container 75%">
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)">
            <input name="name" placeholder="Name" type="text" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input name="email" placeholder="Email" type="email" />
          </div>
          <div class="12u$">
            <textarea name="message" placeholder="Message" rows="4"></textarea>
          </div>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" class="special" value="Submit" /></li>
        <li><input type="reset" class="alt" value="Reset" /></li>
      </ul>
    </form>
  </div>
</section>
