<% content_for :title do %>
  KLDX | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<%= render 'banner' %>

<section id="one" class="wrapper style1">
  <div class="inner">
    <% @articles.each do |article| %>
      <article class="feature left">
        <span class=image>
          <% if article.try(:default_image?) %>
            <%= image_tag(article.default_image_url(:thumbnail)) %>
          <% else %>
            <%= image_tag('article_default_image_low_res.png') %>
          <% end %>
        </span>
        <div class="content">
          <h2><%= article.title %></h2>
          <p><%= truncate(strip_tags(article.description), length: 200) %></p>
          <ul class="actions">
            <li>
              <%= link_to "More", article_show_path(article), class: "button alt" %>
            </li>
          </ul>
        </div>
      </article>
    <% end %>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper special">
  <div class="inner">
    <header class="major narrow">
      <h2>Merchandise For You</h2>
      <p>To support our plan and next activities, why not get our merchandise for your collection</p>
    </header>
    <div class="image-grid">
      <a href="#" class="image"><%= image_tag "keyer.jpg" %></a>
      <a href="#" class="image"><%= image_tag "cs-cap.jpg" %></a>
      <a href="#" class="image"><%= image_tag "tshirt.jpg" %></a>
      <a href="#" class="image"><%= image_tag "oscillator.jpg" %></a>
      <a href="#" class="image"><%= image_tag "sticker.jpg" %></a>
      <a href="#" class="image"><%= image_tag "tuner.jpg" %></a>
      <a href="#" class="image"><%= image_tag "keychain.jpg" %></a>
      <a href="#" class="image"><%= image_tag "emblem.jpg" %></a>
    </div>
    <ul class="actions">
      <li><a href="#" class="button big alt">View All</a></li>
    </ul>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major narrow	">
      <h2>Checkout our activities/calendar</h2>
      <p>We always prepared for what we plan</p>
    </header>
    <ul class="actions">
      <li><a href="#" class="button big alt">View List</a></li>
    </ul>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style2 special">
  <div class="inner">
    <header class="major narrow">
      <h2>Get in touch</h2>
      <p>Do you have anything to say to us?</p>
    </header>
    <form action="#" method="POST">
      <div class="container 75%">
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)">
            <input name="name" placeholder="Name" type="text" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input name="email" placeholder="Email" type="email" />
          </div>
          <div class="12u$">
            <textarea name="message" placeholder="Message" rows="4"></textarea>
          </div>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" class="special" value="Submit" /></li>
        <li><input type="reset" class="alt" value="Reset" /></li>
      </ul>
    </form>
  </div>
</section>
