<% content_for :title do %>
  KLDX | Kuala Lumpur DX Team
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "KLDX | Kuala Lumpur DX Team",
               :url => request.url,
               :description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication",
               :canonical => request.url,
               :og_title => "KLDX | Kuala Lumpur DX Team",
               :og_description => "Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication"
            } %>
<% end %>

<section class="section-white">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @all_featured_articles.each_with_index do |article, index|%>
      <div class="item <%='active'if index == 0 %>">
        <div class="layer">
          <%= image_tag(article.default_image_url(:high_res), class: "tint layer-image img-responsive") %>
        </div>
        <center>
          <%= image_tag(article.default_image_url(:high_res), class: "tint carousel-image img-responsive") %>
        </center>
        <div class="carousel-caption centered-carousel">
          <h1><%= article.title %></h1>
          <h5 class="hidden-xs hidden-sm">
            <%= image_tag avatar_url(article.user), class: "img-circle circleborder", alt: "#{article.user.email}" %>
            by <%= article.user.callsign.upcase %>
          </h5>
          <br>
          <%= link_to article_show_path(article), class: "btn btn-primary btn-xs btn-kldx-solid-red", data: { turbolinks: disable_turbolink } do %>
            <span class="glyphicon glyphicon-play-circle"></span> Read Now
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>
</section>

<div class="container">

  <hr>

  <section id="sponsored_articles">
    <div class="row">
      <div class="col-md-8">
        <div class="sponsored_articles sponsored">
          <% @top_sponsored_article.each do |article| %>
            <%= link_to article_show_path(article), data: { turbolinks: disable_turbolink } do %>
              <div class="image-gradient"></div>
              <% if article.try(:default_image?) %>
                <%= image_tag(article.default_image_url(:standard), class: "img-responsive") %>
              <% else %>
                <%= image_tag('article_default_image_high_res.png', class: "img-responsive") %>
              <% end %>
              <div class="status">
                <span class="label label-danger">SPONSORED</span>
              </div>
              <div class="read">
                <%= link_to article_show_path(article), class: "btn btn-primary btn-sm", data: { turbolinks: disable_turbolink } do %>
                  <span class="glyphicon glyphicon-play-circle"></span> Read Now
                <% end %>
              </div>
              <div class="details">
                <h4><%= article.title %></h4>
                <div class="hidden-xs"><%= truncate(strip_tags(article.description), length: 200) %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ads-area center">
          <%= link_to root_url, target: "_blank", data: { turbolinks: disable_turbolink } do %>
      			<%= image_tag "kldx-ads.png", class: "img-responsive", alt: "ads", width: 360, height: 250 %>
      		<% end %>
        </div>
      </div>
    </div>
  </section>

  <section id="listing">

    <% (@approved_articles - @top_sponsored_article - @all_featured_articles).each_slice(3).with_index do |group, index| %>
    <div class="row">
      <% group.each do |article| %>
      <div class="col-md-4">
        <div class="article article-list">
          <%= link_to article_show_path(article), class: "article-no-hover", data: { turbolinks: disable_turbolink } do %>
            <div class="gradientl"></div>
            <% if article.try(:default_image?) %>
              <%= image_tag(article.default_image_url(:low_res), class: "img-responsive") %>
            <% else %>
              <%= image_tag('article_default_image_low_res.png', class: "img-responsive") %>
            <% end %>

            <div class="mini-desc">
              <div class="article-title">
                <%= article.title %>
              </div>
              <div class="article-date">
                <i class="fa fa-clock-o"></i> <%= time_ago_in_words(article.created_at) %> ago <i class="fa fa-user"></i> <%= article.user.callsign.upcase %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

  </section>

  <div class="middle">
    <%= link_to "see more", articles_path, class: "btn btn-primary btn-xs btn-kldx-red", data: { turbolinks: disable_turbolink } %>
  </div>

</div>
