<aside id="sidebar-left" class="sidebar-left">

	<div class="sidebar-header">
		<div class="sidebar-title">
			Navigation
		</div>
		<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<div class="nano">
		<div class="nano-content">
			<nav id="menu" class="nav-main" role="navigation">
				<ul class="nav nav-main">
					<li class="nav-active">
						<%= link_to dashboard_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-home" aria-hidden="true"></i>
							<span>Dashboard</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-newspaper-o" aria-hidden="true"></i>
							<span>Articles/Stories</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<span>Event/Activities</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							<span>Merchandise/Shop</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-ship" aria-hidden="true"></i>
							<span>Partnership/Sponsorship</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-comment" aria-hidden="true"></i>
							<span>Message</span>
						<% end %>
					</li>
					<li>
						<%= link_to admin_articles_path, data: { turbolinks: disable_turbolink } do %>
							<i class="fa fa-users" aria-hidden="true"></i>
							<span>KLDX Crew</span>
						<% end %>
					</li>
				</ul>
			</nav>

			<hr class="separator" />

			<div class="sidebar-widget widget-tasks">
				<div class="widget-header">
					<h6>Upcoming Event</h6>
					<div class="widget-toggle">+</div>
				</div>
				<div class="widget-content">
					<ul class="list-unstyled m-none">
						<li><a href="#">9M4IOTA Tioman Island</a></li>
					</ul>
				</div>
			</div>
		</div>

		<script>
			// Maintain Scroll Position
			if (typeof localStorage !== 'undefined') {
				if (localStorage.getItem('sidebar-left-position') !== null) {
					var initialPosition = localStorage.getItem('sidebar-left-position'),
						sidebarLeft = document.querySelector('#sidebar-left .nano-content');

					sidebarLeft.scrollTop = initialPosition;
				}
			}
		</script>

	</div>

</aside>
