<nav id="nav">
  <ul class="links">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Crew", root_path %></li>
    <li><%= link_to "Calendar", root_path %></li>
    <li><%= link_to "Activities", root_path %></li>
    <li><%= link_to "Merchandise", root_path %></li>
    <li><%= link_to "Blog", root_path %></li>
  </ul>
</nav>
