<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= (title = yield :title).blank? ? "KLDX | Kuala Lumpur DX Team" : title %></title>
    <meta content='<%= (keyword = yield :keyword).blank? ? "kldx, amateur radio, ham radio, hf, dxing, contesting, 9m2r, marts, kuala lumpur dx team, 9m4iota, tioman island, eantenna, as-046, lighthouse lightship" : keyword %>' name='keywords'>
    <meta content='Kuala Lumpur DX Team Group Activists are moving on Amateur Radio activity especially contesting, IOTS, Field Day, and also Emergency Communication' name='description'>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :meta_tags %>
  </head>

  <body class="landing" data-no-turbolink>
    <%= render 'alert' %>
    <%= render 'header' %>
    <%= render 'navbar' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
